{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Welcome to the Manager Page</h1>
    <h2>Pending Items</h2>
    <div>
        <a href="{{ url_for('views.configure_fees') }}" class="btn btn-info">Configure percentage costs</a>
    </div>
    {% if items %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Minimum Price</th>
                    <th>Seller</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.category_id }}</td>
                    <td>${{ item.minimum_price }}</td>
                    <td>{{ item.seller_id }}</td>
                    <td>{{ item.start_time.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ item.end_time.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>
                        <a href="{{ url_for('views.assign_expert', item_id=item.id) }}" class="btn btn-info">Assign Expert</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>No pending items available.</p>
    {% endif %}
    <div class="container mt-5">
        <h2>Experts</h2>
        {% if experts %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Expert ID</th>
                        <th>Expert Username</th>
                        <th>Expert Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expert in experts %}
                        <tr>
                            <td>{{ expert.id }}</td>
                            <td>{{ expert.username }}</td>
                            <td>{{ expert.first_name }} {{ expert.last_name }}</td>
                            <td>{{ expert.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No experts found</p>
        {% endif %}
    </div>
</div>
{% endblock %}